@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*$mobile  : 576px;*/
/*$tablet  : 768px;*/
/*$laptop  : 992px;*/
/*$desktop : 1200px;*/
body {
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
}