.men-container {
    display: block;
    position: relative;
    width: 90%;
    border: none;
    border-top: 2px solid #CBCBCB;
    margin: 80px;
}
.header-men {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-12px) translateX(-60px) scale(1);
    z-index: 2;
    margin-right: 10px;
}
.h1-men {
    font-size: 1.2rem;
    font-weight: 600;
}
.post-con {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 60px;
}
.click-span {
    color: #A89B78;
    font-weight: 600;
    font-size: 1.1rem;
}
.men-clothing-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10px;
}
.men-clothing {
    display: block;
    cursor: pointer;
    justify-content: center;
    width: 350px;
    background-color: #F5F5F7;
}
.one {
    border: 6px solid #A99B76;
}
.men-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px;
}
.h-men-cloth {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.drop-arrow {
    align-items: center;
    justify-content: center;
}
.img-drop {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    padding-top: 2px;
}
.div-color-p {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border: none;
    border-radius: 100%;
}
.bg-one {
    background-color: #4AB307;
}
.bg-two {
    background-color: #3378FA;
}
.bg-three {
    background-color: #535154;
}
.ts-img {
    display: block;
    margin: auto 90px;
    padding: 20px;
}
.type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px;
}
.ts {
    color: #A89C76;
    text-align: center;
}
.price {
    color: #6F6F6F;
    font-size: 1.5rem;
    font-weight: 700;
}
@media (min-width: 5em) and (max-width: 70em) {
    .men-container {
        margin: 20px;
        border-top: 1px solid transparent;
    }
    .h1-men {
        border-bottom: 3px solid #CBCBCB;
    }
    .header-men {
        transform: translateY(-15px) translateX(-10px) scale(1);
        z-index: 2;
        margin-right: 5px;
    }
    .post-con {
        margin-top: 30px;
    }
    .men-clothing-con {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5px;
    }
    .men-clothing {
        margin-bottom: 20px;
    }

}

