.women-container {
    display: block;
    position: relative;
    width: 90%;
    border: none;
    border-top: 2px solid #CBCBCB;
    margin: 20px;
}
.header-w {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-12px) translateX(100px) scale(1);
    z-index: 2;
    margin-left: 10px;
}
.h1-women {
    font-size: 1.2rem;
    font-weight: 600;
}
.post-con-left {
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 60px;
}
.click-span {
    color: #A89B78;
    font-weight: 600;
    font-size: 1.1rem;
}
.women-clothing-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10px;
}
.clothing {
    display: block;
    cursor: pointer;
    justify-content: center;
    width: 350px;
    background-color: #F5F5F7;
    height: 400px;
}
.women-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px;
}
.h-women-cloth {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.drop-arrow {
    transform: rotate(180deg);
}
.div-color {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border: none;
    border-radius: 100%;
}
.bg-pk {
    background-color: #D4A7AC;
}
.bg-w {
    background-color: #FFFFFF;
}
.ts-img {
    display: block;
    margin: auto 60px;
    padding: 20px;
}
.shoe {
    margin-bottom: 80px;
}
.type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px;
}
.ts {
    color: #A89C76;
}
.price {
    color: #6F6F6F;
    font-size: 1.5rem;
    font-weight: 700;
}
@media (min-width: 5em) and (max-width: 70em) {
    .women-container {
        margin: 20px;
        border-top: 1px solid transparent;
    }
    .h1-women {
        border-bottom: 3px solid #CBCBCB;
    }
    .post-con-left {
        margin-top: 30px;
    }
    .header-w {
        transform: translateY(-15px) translateX(10px) scale(1);
        z-index: 2;
        margin-left: 5px;
    }
    .women-clothing-con {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5px;
    }
    .clothing {
        margin-bottom: 20px;
    }
}

