.container {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
    padding: 20px;
}
.open-btn {
    display: none;
}
.logo {
    margin-right: auto;
}
.nav, .list {
    display: flex;
    list-style-type: none;
    border: none;
}
@media (min-width: 5em) and (max-width: 60em){
    .nav {
        display: none;
    }
    .open-btn {
        display: block;
        height: 20px;
        color: white;
        border: none;
    }
    .nav, .list {
        flex-direction: column;
        flex-wrap: wrap;
        border: none;
    }
}
.items, .links {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 30px;
    font-size: 1.2rem;
    font-weight: 600;
}