.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #C6BFA5 !important;
    padding: 40px;
    margin-bottom: 80px;
}
input[type=checkbox]:checked {
    background-color: #C6BFA5 !important;
    cursor: pointer;
}
label {
    padding: 20px;
    color: black !important;
    font-weight: 500;
}
.btn-product {
    background-color: #661C14 !important;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    margin-left: auto;
    font-weight: 700;
}
@media (min-width: 5em) and (max-width: 60em) {
    .form {
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 60px;
        align-items: center;
    }
    input[type=checkbox]:checked {
        background-color: #C6BFA5 !important;
        cursor: pointer;
    }
    label {
        padding: 10px;
        font-weight: 400;
    }
    form {
        margin-bottom: 15px;
    }
    .btn-product {
        margin: auto;
        align-self: center;
    }
}